_Rules/Service References/ServiceReferenceTributario/ServicioTributario5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioTributarioBD.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioTributarioBD.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParametroCuota">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParametroCuota" nillable="true" type="tns:ParametroCuota" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParametroCuota" nillable="true" type="tns:ArrayOfParametroCuota" />
  <xs:complexType name="ParametroCuota">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidadCuotas" type="xs:int" />
      <xs:element minOccurs="0" name="idParametroCuota" type="xs:int" />
      <xs:element minOccurs="0" name="idParametroFinanciacion" type="xs:int" />
      <xs:element minOccurs="0" name="porcentajeEntrega" type="xs:decimal" />
      <xs:element minOccurs="0" name="porcentajeEntregaCaducidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="porcentajeFinanciacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="requiereCBU" type="xs:boolean" />
      <xs:element minOccurs="0" name="requiereCBUCaducidad" type="xs:boolean" />
      <xs:element minOccurs="0" name="requiereGarantia" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametroCuota" nillable="true" type="tns:ParametroCuota" />
</xs:schema>